{
  "env": { "browser": true, "node": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:mocha/recommended"
  ],
  "parserOptions": { "ecmaVersion": "latest" },
  "plugins": ["tsdoc"],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/no-var-requires": "off",
    "tsdoc/syntax": "error",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true,
        "allowHigherOrderFunctions": true,
        "allowDirectConstAssertionInArrowFunctions": true,
        "allowConciseArrowFunctionExpressionsStartingWithVoid": true
      }
    ],
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": {
          "memberTypes": [
            "public-static-field",
            "protected-static-field",
            "private-static-field",
            "static-field",
            "public-static-get",
            "protected-static-get",
            "private-static-get",
            "static-get",
            "public-static-set",
            "protected-static-set",
            "private-static-set",
            "static-set",
            "public-static-method",
            "protected-static-method",
            "private-static-method",
            "static-method",
            "public-instance-field",
            "protected-instance-field",
            "private-instance-field",
            "public-abstract-field",
            "protected-abstract-field",
            "private-abstract-field",
            "public-field",
            "protected-field",
            "private-field",
            "instance-field",
            "abstract-field",
            "field",
            "signature",
            "public-constructor",
            "protected-constructor",
            "private-constructor",
            "constructor",
            "public-instance-get",
            "protected-instance-get",
            "private-instance-get",
            "public-abstract-get",
            "protected-abstract-get",
            "private-abstract-get",
            "public-get",
            "protected-get",
            "private-get",
            "instance-get",
            "abstract-get",
            "get",
            "public-instance-set",
            "protected-instance-set",
            "private-instance-set",
            "public-abstract-set",
            "protected-abstract-set",
            "private-abstract-set",
            "public-set",
            "protected-set",
            "private-set",
            "instance-set",
            "abstract-set",
            "set",
            "public-instance-method",
            "protected-instance-method",
            "private-instance-method",
            "public-abstract-method",
            "protected-abstract-method",
            "private-abstract-method",
            "public-method",
            "protected-method",
            "private-method",
            "instance-method",
            "abstract-method",
            "method"
          ],
          "order": "alphabetically"
        }
      }
    ],
    "mocha/no-synchronous-tests": ["error", { "allowed": ["async"] }]
  }
}
